* {
  box-sizing: border-box;
}

body {
  color: #252525;
  font-family: 'Roboto', arial, sans-serif;
  font-size: 14px;
  margin: 0;
}

.d-flex {
  display: flex;
}

.info {
  font-style: italic;
  font-size: 0.8em;
}

#content,
#footer,
h3,
h4,
.nav-tab,
.tab-content {
  float: left;
  width: 100%;
}

#content {
  padding: 15px 20px;
  width: 402px;
}

.nav-tab {
  padding-left: 0;
  margin: 0 0 25px 0;
  list-style: none;
}

.nav-tab .tab {
  float: left;
  margin-bottom: -1px;
}

.nav-tab .tab > a {
  padding: 10px 18px;
  margin-right: 2px;
  color: #555;
  text-decoration: none;
  border-bottom: 3px solid #f4f4f4;
}

.nav-tab .tab:last-child > a {
  border-right: 0;
}

.nav-tab .tab.active > a {
  color: #555;
  cursor: default;
  border-bottom: 3px solid #4caf50;
}

.nav-tab .tab.active > a:focus {
  outline: 0;
}

.tab-content:not(.active) {
  display: none;
}

#footer {
  margin-top: 9px;
  padding: 15px 20px;
  background-color: #f0f0f0;
  color: #636363;
  font-size: 11px;
  display: flex;
  justify-content: space-between;
}

.chat-input-wrapper {
  padding: 0.75rem 0 0.75rem 1rem;
  box-shadow: 0 0 transparent, 0 0 transparent, 0 0 10px rgba(0, 0, 0, 0.1);
  border-width: 1px;
  border-radius: 0.375rem;
  border-color: rgba(0, 0, 0, 0.1);
  position: relative;
}

.chat-input-wrapper textarea {
  max-height: 200px;
  height: 24px;
  width: 100%;
  overflow-y: hidden;
  padding: 0 1.75rem 0 0;
  border-width: 0;
  resize: none;
}

.chat-input-wrapper textarea:focus {
  outline: 2px solid transparent;
}

.chat-input-wrapper button {
  opacity: 0.4;
  position: absolute;
  right: 0.5rem;
  bottom: 0.625rem;
  padding: 0.25rem;
  border: 0;
  border-radius: 0.375rem;
  cursor: pointer;
  -webkit-appearance: button;
  background-color: transparent;
}
